

.wait_list_item {
    max-width: 70%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
}

.wait_list_item_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wait_list_item_title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0px;
    /* text-align: center; */
    outline: none;
    border: none;
    max-width: 50%;
}

.wait_item_amount {
    display: flex;
}

.wait_item_amount button {
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
}

.wait_item_dots {
    height: 23px;
    width: 25px;
    cursor: pointer;
}

.wait_dots_menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    right: 0;
    z-index: 3;
    top: 80%;
}

.wait_dots_menu_item button {
    background-color: transparent;
    line-height: 100%;
    border: 1px solid;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
}

