

.init_filter_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.init_filter_item button {
    background-color: transparent;
    outline: none;
    border: 1px solid;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
    color: inherit;
}

.init_filter_item.active button {
    background-color: #0abef0;
    color: #fff;
}